[submodule "Modules/WebFrontend"]
	path = Modules/WebFrontend
	url = https://github.com/Nebalus/WebFrontend.git
[submodule "Modules/WebBackend"]
	path = Modules/WebBackend
	url = https://github.com/Nebalus/WebBackend.git
[submodule "Modules/WebStorage"]
	path = Modules/WebStorage
	url = https://github.com/Nebalus/WebStorage.git
